<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
            h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
            h1 { font-size: 36px; }
            h2 { font-size: 21px; margin-bottom: 1em; }
            p { margin: 0 0 1em 0; }
            a { color: #0000F0; }
            a:hover { text-decoration: none; }
            code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
            #wrapper { background: #FFF; margin: 1em auto; max-width: 1200px; width: 95%; }
            #container { 
                padding: 2em;
                width: 70%;
                float: right;
                box-sizing: border-box;
            }
            #welcome, #status { margin-bottom: 2em; }
            #welcome h1 span { display: block; font-size: 75%; }
            #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
            #icon-book { display: none; }
            .menu {
                width: 30%;
                float: left;
                padding: 1em;
                box-sizing: border-box;
            }
            .clear {
                clear: both;
            }
            label {
                display: block;
            }
            textarea {
                min-height: 300px;
                min-width: 500px;
            }
            .red {
                color: red;
            }

            @media (min-width: 768px) {
                #wrapper { width: 80%; margin: 2em auto; }
                #icon-book { display: inline-block; }
                #status a, #next a { display: block; }

                @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
            }
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            <div class="menu">
                {% if tree %}
                    {% for node in tree %}
                        {% for i in 0..node.getLevel %}
                            &nbsp;&nbsp;
                        {% endfor %}

                        {% if node.current %}
                            {{ node.getTitle }}
                        {% else %}
                            <a href="{{ path('item', {slug: node.getFullpath}) }}">{{ node.getTitle }}</a>
                        {% endif %}
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="container">

            {% block body %}{% endblock %}
            </div>
            <div class="clear"></div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
