{% extends 'base.html.twig' %}

{% block body %}

    <h1>Добавление страницы</h1>

    {% if slug %}
        {% set form_action = path('addChild', {'slug' : slug}) %}
    {% else %}
        {% set form_action = path('add') %}
    {% endif %}

    <form action="{{ form_action }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>

{% endblock %}