{% extends 'base.html.twig' %}

{% block body %}

    <h1>Подтвердите удаление страницы</h1>

    <form action="{{ path('delete', {'slug' : slug}) }}" method="post">
        <input type="submit" value="Удалить" /> <a href="{{ path('item', {'slug' : slug}) }}">Отмена<a/>
    </form>
{% endblock %}
