{% extends 'base.html.twig' %}

{% block body %}
    <h1>Редактирование страницы</h1>

    <form action="{{ path('edit', {'slug' : slug}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
{% endblock %}
