{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ page.getTitle }}</h1>

    {{ parsedContent|raw }}

    <hr>

    {% if parent %}
        Родительская страница: <a href="{{ path('item', {'slug': parent.getFullpath}) }}">{{ parent.getTitle }}</a> <br>
    {% endif %}
    {% if childrens.count %}
        Дочерние страницы: <br>
        {% for node in childrens %}
            <a href="{{ path('item', {'slug': node.getFullpath}) }}">{{ node.getTitle }}</a> <br/>
        {% endfor %}
    {% endif %}

    <hr>

    {% if page.getFullpath %}
        <a href="{{ path('edit', {'slug': page.getFullpath}) }}">Редактировать текущую страницу</a><br> 
        <a href="{{ path('delete', {'slug': page.getFullpath}) }}">Удалить текущую страницу</a><br> 
        <a href="{{ path('addChild', {'slug': page.getFullpath}) }}">Добавить дочернюю страницу</a> 
    {% else %}
        <a href="{{ path('add') }}">Добавить дочернюю страницу</a> 
    {% endif %}
   

{% endblock %}